body {
    font-family: Times New Roman, sans-serif;
    background-color: #78808a;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.personal-photo {
    width: 150px;
    height: 200px;
    border-radius: 10%;
    margin-top: 5px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h4 {
    color: #bd0d1f;
	padding-left: 10px;
}

h2 {
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p.affiliation {
    font-size: 1.2em;
    color: #1f497d;
}

section {
    margin-bottom: 20px;
}

ol, ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
